*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: #060d1c !important;
    margin: 0 !important;
}

nav{
    background: #060d1c;
}

.navbar-logo{
    display: inline-block;
    vertical-align: middle;
    width: 70px;
  }

.navbar{
    border-bottom: 1px solid #06b0e2;
}

.nav-link {
    color: #e4ecf6 !important;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 100ms ease-in-out !important; /*transición final */
}

.nav-link:hover {
    color: #060d1c !important;
    background-color: #e4ecf6;
    scale: 1.2 !important;
    transition-duration: 300ms; /*transición inicial */
    transition-timing-function: ease-in !important;
}

.navbar-brand {
    font-size: 1.25rem;
    font-weight: 700;
    color: #e4ecf6 !important;
    cursor: pointer;
}

.navbar-toggler{
    background-color: #060d1c !important;
    color: #e4ecf6 !important;
}

/* hacer hero section del tamaño de la pantalla */
#hero{
    min-height: 100vh;
    min-width: 100vh;
    position: relative;
}

.center{
    position: absolute !important;
    inset: 0 !important;
    margin: auto !important;
}


.title {
    color: #e4ecf6 !important;
    position: relative !important;
    font-size: 5rem !important;
    display: inline !important;
}

.name-color{
    background-image: linear-gradient(45deg, #06b0e2, #4282ec);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.terminal-line {
    width: 2.5rem !important;
    height: 5rem !important;
    background: #4282ec !important;
    position: absolute;
    right: -2.5rem !important;
    animation: load 1s linear infinite;
}


/* animacion linea de terminal */
@keyframes load{
    0%{
        opacity: 0;
    }
    59%{
        opacity: 0;
    }
    60%{
        opacity: 100%;
    }
    100%{
        opacity: 100%;
    }
}


/* quitar animaciones en caso de que se espeficique en el sistema */
@media (prefers-reduced-motion: reduce){
    .nav-link {
        transition: none;
    }
}



/* probar sticky */
/*poner linea en el titulo como si fuera terminal */
/* checar aspect-ratio para imágenes */