*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: #ddd !important;
}

nav{
    background: #ddd;
}

.navbar-logo{
    display: inline-block;
    vertical-align: middle;
    width: 70px;
  }

.nav-link {
    color: #333 !important;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 100ms ease-in-out !important; /*transici칩n final */
}

.nav-link:hover {
    color: #ddd !important;
    background-color: #333;
    scale: 1.2 !important;
    transition-duration: 300ms; /*transici칩n inicial */
    transition-timing-function: ease-in !important;
}

.navbar-brand {
    font-size: 1.25rem;
    font-weight: 700;
    color: #333 !important;
    cursor: pointer;
}

.navbar-toggler{
    background-color: #ddd !important;
    color: #333 !important;
}

/* hacer hero section del tama침o de la pantalla
#hero{
    min-height: 100vh;
    min-width: 100vh;
}
*/

.title {
    color: #333 !important;
    position: relative !important;
    font-size: 6rem !important;
    display: inline !important;
}

.terminal-line {
    width: 2rem !important;
    height: 6rem !important;
    background: #333 !important;
    position: absolute;
    right: -2rem !important;
    animation: load 1s linear infinite;
}


/* animacion linea de terminal */
@keyframes load{
    0%{
        opacity: 0;
    }
    59%{
        opacity: 0;
    }
    60%{
        opacity: 100%;
    }
    100%{
        opacity: 100%;
    }
}


/* quitar animaciones en caso de que se espeficique en el sistema */
@media (prefers-reduced-motion: reduce){
    .nav-link {
        transition: none;
    }
}



/* probar sticky */
/*poner linea en el titulo como si fuera terminal */
/* checar aspect-ratio para im치genes */